/*  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: "FontAwesome";
  src: url("../font/fontawesome-webfont.eot?v=3.0.1");
  src: url("../font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("../font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("../font/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
 *  ------------------------------------------------------- */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

.btn [class^="icon-"],
.btn [class*=" icon-"], .nav [class^="icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
}
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: 0.9em;
}
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: 0.9em;
}
.nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"].icon-large {
  line-height: 0.9em;
}

li [class^="icon-"],
li [class*=" icon-"], .nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

ul.icons {
  list-style-type: none;
  text-indent: -0.75em;
}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: 0.75em;
}

.icon-muted {
  color: #eeeeee;
}

.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.icon-2x {
  font-size: 2em;
}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.icon-3x {
  font-size: 3em;
}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.icon-4x {
  font-size: 4em;
}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: 0.3em;
}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: 0.3em;
}

.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.18em;
}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: 0.8em;
}

.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.25em;
}

.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: 0.05em;
}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: 0.2em;
}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: 0.2em;
}

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

@-moz-document url-prefix() {
  .icon-spin {
    height: 0.9em;
  }

  .btn .icon-spin {
    height: auto;
  }

  .icon-spin.icon-large {
    height: 1.25em;
  }

  .btn .icon-spin.icon-large {
    height: 0.75em;
  }
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 *  readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000";
}

.icon-music:before {
  content: "\f001";
}

.icon-search:before {
  content: "\f002";
}

.icon-envelope:before {
  content: "\f003";
}

.icon-heart:before {
  content: "\f004";
}

.icon-star:before {
  content: "\f005";
}

.icon-star-empty:before {
  content: "\f006";
}

.icon-user:before {
  content: "\f007";
}

.icon-film:before {
  content: "\f008";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-ok:before {
  content: "\f00c";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-zoom-in:before {
  content: "\f00e";
}

.icon-zoom-out:before {
  content: "\f010";
}

.icon-off:before {
  content: "\f011";
}

.icon-signal:before {
  content: "\f012";
}

.icon-cog:before {
  content: "\f013";
}

.icon-trash:before {
  content: "\f014";
}

.icon-home:before {
  content: "\f015";
}

.icon-file:before {
  content: "\f016";
}

.icon-time:before {
  content: "\f017";
}

.icon-road:before {
  content: "\f018";
}

.icon-download-alt:before {
  content: "\f019";
}

.icon-download:before {
  content: "\f01a";
}

.icon-upload:before {
  content: "\f01b";
}

.icon-inbox:before {
  content: "\f01c";
}

.icon-play-circle:before {
  content: "\f01d";
}

.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021";
}

.icon-list-alt:before {
  content: "\f022";
}

.icon-lock:before {
  content: "\f023";
}

.icon-flag:before {
  content: "\f024";
}

.icon-headphones:before {
  content: "\f025";
}

.icon-volume-off:before {
  content: "\f026";
}

.icon-volume-down:before {
  content: "\f027";
}

.icon-volume-up:before {
  content: "\f028";
}

.icon-qrcode:before {
  content: "\f029";
}

.icon-barcode:before {
  content: "\f02a";
}

.icon-tag:before {
  content: "\f02b";
}

.icon-tags:before {
  content: "\f02c";
}

.icon-book:before {
  content: "\f02d";
}

.icon-bookmark:before {
  content: "\f02e";
}

.icon-print:before {
  content: "\f02f";
}

.icon-camera:before {
  content: "\f030";
}

.icon-font:before {
  content: "\f031";
}

.icon-bold:before {
  content: "\f032";
}

.icon-italic:before {
  content: "\f033";
}

.icon-text-height:before {
  content: "\f034";
}

.icon-text-width:before {
  content: "\f035";
}

.icon-align-left:before {
  content: "\f036";
}

.icon-align-center:before {
  content: "\f037";
}

.icon-align-right:before {
  content: "\f038";
}

.icon-align-justify:before {
  content: "\f039";
}

.icon-list:before {
  content: "\f03a";
}

.icon-indent-left:before {
  content: "\f03b";
}

.icon-indent-right:before {
  content: "\f03c";
}

.icon-facetime-video:before {
  content: "\f03d";
}

.icon-picture:before {
  content: "\f03e";
}

.icon-pencil:before {
  content: "\f040";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-adjust:before {
  content: "\f042";
}

.icon-tint:before {
  content: "\f043";
}

.icon-edit:before {
  content: "\f044";
}

.icon-share:before {
  content: "\f045";
}

.icon-check:before {
  content: "\f046";
}

.icon-move:before {
  content: "\f047";
}

.icon-step-backward:before {
  content: "\f048";
}

.icon-fast-backward:before {
  content: "\f049";
}

.icon-backward:before {
  content: "\f04a";
}

.icon-play:before {
  content: "\f04b";
}

.icon-pause:before {
  content: "\f04c";
}

.icon-stop:before {
  content: "\f04d";
}

.icon-forward:before {
  content: "\f04e";
}

.icon-fast-forward:before {
  content: "\f050";
}

.icon-step-forward:before {
  content: "\f051";
}

.icon-eject:before {
  content: "\f052";
}

.icon-chevron-left:before {
  content: "\f053";
}

.icon-chevron-right:before {
  content: "\f054";
}

.icon-plus-sign:before {
  content: "\f055";
}

.icon-minus-sign:before {
  content: "\f056";
}

.icon-remove-sign:before {
  content: "\f057";
}

.icon-ok-sign:before {
  content: "\f058";
}

.icon-question-sign:before {
  content: "\f059";
}

.icon-info-sign:before {
  content: "\f05a";
}

.icon-screenshot:before {
  content: "\f05b";
}

.icon-remove-circle:before {
  content: "\f05c";
}

.icon-ok-circle:before {
  content: "\f05d";
}

.icon-ban-circle:before {
  content: "\f05e";
}

.icon-arrow-left:before {
  content: "\f060";
}

.icon-arrow-right:before {
  content: "\f061";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-share-alt:before {
  content: "\f064";
}

.icon-resize-full:before {
  content: "\f065";
}

.icon-resize-small:before {
  content: "\f066";
}

.icon-plus:before {
  content: "\f067";
}

.icon-minus:before {
  content: "\f068";
}

.icon-asterisk:before {
  content: "\f069";
}

.icon-exclamation-sign:before {
  content: "\f06a";
}

.icon-gift:before {
  content: "\f06b";
}

.icon-leaf:before {
  content: "\f06c";
}

.icon-fire:before {
  content: "\f06d";
}

.icon-eye-open:before {
  content: "\f06e";
}

.icon-eye-close:before {
  content: "\f070";
}

.icon-warning-sign:before {
  content: "\f071";
}

.icon-plane:before {
  content: "\f072";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-random:before {
  content: "\f074";
}

.icon-comment:before {
  content: "\f075";
}

.icon-magnet:before {
  content: "\f076";
}

.icon-chevron-up:before {
  content: "\f077";
}

.icon-chevron-down:before {
  content: "\f078";
}

.icon-retweet:before {
  content: "\f079";
}

.icon-shopping-cart:before {
  content: "\f07a";
}

.icon-folder-close:before {
  content: "\f07b";
}

.icon-folder-open:before {
  content: "\f07c";
}

.icon-resize-vertical:before {
  content: "\f07d";
}

.icon-resize-horizontal:before {
  content: "\f07e";
}

.icon-bar-chart:before {
  content: "\f080";
}

.icon-twitter-sign:before {
  content: "\f081";
}

.icon-facebook-sign:before {
  content: "\f082";
}

.icon-camera-retro:before {
  content: "\f083";
}

.icon-key:before {
  content: "\f084";
}

.icon-cogs:before {
  content: "\f085";
}

.icon-comments:before {
  content: "\f086";
}

.icon-thumbs-up:before {
  content: "\f087";
}

.icon-thumbs-down:before {
  content: "\f088";
}

.icon-star-half:before {
  content: "\f089";
}

.icon-heart-empty:before {
  content: "\f08a";
}

.icon-signout:before {
  content: "\f08b";
}

.icon-linkedin-sign:before {
  content: "\f08c";
}

.icon-pushpin:before {
  content: "\f08d";
}

.icon-external-link:before {
  content: "\f08e";
}

.icon-signin:before {
  content: "\f090";
}

.icon-trophy:before {
  content: "\f091";
}

.icon-github-sign:before {
  content: "\f092";
}

.icon-upload-alt:before {
  content: "\f093";
}

.icon-lemon:before {
  content: "\f094";
}

.icon-phone:before {
  content: "\f095";
}

.icon-check-empty:before {
  content: "\f096";
}

.icon-bookmark-empty:before {
  content: "\f097";
}

.icon-phone-sign:before {
  content: "\f098";
}

.icon-twitter:before {
  content: "\f099";
}

.icon-facebook:before {
  content: "\f09a";
}

.icon-github:before {
  content: "\f09b";
}

.icon-unlock:before {
  content: "\f09c";
}

.icon-credit-card:before {
  content: "\f09d";
}

.icon-rss:before {
  content: "\f09e";
}

.icon-hdd:before {
  content: "\f0a0";
}

.icon-bullhorn:before {
  content: "\f0a1";
}

.icon-bell:before {
  content: "\f0a2";
}

.icon-certificate:before {
  content: "\f0a3";
}

.icon-hand-right:before {
  content: "\f0a4";
}

.icon-hand-left:before {
  content: "\f0a5";
}

.icon-hand-up:before {
  content: "\f0a6";
}

.icon-hand-down:before {
  content: "\f0a7";
}

.icon-circle-arrow-left:before {
  content: "\f0a8";
}

.icon-circle-arrow-right:before {
  content: "\f0a9";
}

.icon-circle-arrow-up:before {
  content: "\f0aa";
}

.icon-circle-arrow-down:before {
  content: "\f0ab";
}

.icon-globe:before {
  content: "\f0ac";
}

.icon-wrench:before {
  content: "\f0ad";
}

.icon-tasks:before {
  content: "\f0ae";
}

.icon-filter:before {
  content: "\f0b0";
}

.icon-briefcase:before {
  content: "\f0b1";
}

.icon-fullscreen:before {
  content: "\f0b2";
}

.icon-group:before {
  content: "\f0c0";
}

.icon-link:before {
  content: "\f0c1";
}

.icon-cloud:before {
  content: "\f0c2";
}

.icon-beaker:before {
  content: "\f0c3";
}

.icon-cut:before {
  content: "\f0c4";
}

.icon-copy:before {
  content: "\f0c5";
}

.icon-paper-clip:before {
  content: "\f0c6";
}

.icon-save:before {
  content: "\f0c7";
}

.icon-sign-blank:before {
  content: "\f0c8";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-list-ul:before {
  content: "\f0ca";
}

.icon-list-ol:before {
  content: "\f0cb";
}

.icon-strikethrough:before {
  content: "\f0cc";
}

.icon-underline:before {
  content: "\f0cd";
}

.icon-table:before {
  content: "\f0ce";
}

.icon-magic:before {
  content: "\f0d0";
}

.icon-truck:before {
  content: "\f0d1";
}

.icon-pinterest:before {
  content: "\f0d2";
}

.icon-pinterest-sign:before {
  content: "\f0d3";
}

.icon-google-plus-sign:before {
  content: "\f0d4";
}

.icon-google-plus:before {
  content: "\f0d5";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-caret-down:before {
  content: "\f0d7";
}

.icon-caret-up:before {
  content: "\f0d8";
}

.icon-caret-left:before {
  content: "\f0d9";
}

.icon-caret-right:before {
  content: "\f0da";
}

.icon-columns:before {
  content: "\f0db";
}

.icon-sort:before {
  content: "\f0dc";
}

.icon-sort-down:before {
  content: "\f0dd";
}

.icon-sort-up:before {
  content: "\f0de";
}

.icon-envelope-alt:before {
  content: "\f0e0";
}

.icon-linkedin:before {
  content: "\f0e1";
}

.icon-undo:before {
  content: "\f0e2";
}

.icon-legal:before {
  content: "\f0e3";
}

.icon-dashboard:before {
  content: "\f0e4";
}

.icon-comment-alt:before {
  content: "\f0e5";
}

.icon-comments-alt:before {
  content: "\f0e6";
}

.icon-bolt:before {
  content: "\f0e7";
}

.icon-sitemap:before {
  content: "\f0e8";
}

.icon-umbrella:before {
  content: "\f0e9";
}

.icon-paste:before {
  content: "\f0ea";
}

.icon-lightbulb:before {
  content: "\f0eb";
}

.icon-exchange:before {
  content: "\f0ec";
}

.icon-cloud-download:before {
  content: "\f0ed";
}

.icon-cloud-upload:before {
  content: "\f0ee";
}

.icon-user-md:before {
  content: "\f0f0";
}

.icon-stethoscope:before {
  content: "\f0f1";
}

.icon-suitcase:before {
  content: "\f0f2";
}

.icon-bell-alt:before {
  content: "\f0f3";
}

.icon-coffee:before {
  content: "\f0f4";
}

.icon-food:before {
  content: "\f0f5";
}

.icon-file-alt:before {
  content: "\f0f6";
}

.icon-building:before {
  content: "\f0f7";
}

.icon-hospital:before {
  content: "\f0f8";
}

.icon-ambulance:before {
  content: "\f0f9";
}

.icon-medkit:before {
  content: "\f0fa";
}

.icon-fighter-jet:before {
  content: "\f0fb";
}

.icon-beer:before {
  content: "\f0fc";
}

.icon-h-sign:before {
  content: "\f0fd";
}

.icon-plus-sign-alt:before {
  content: "\f0fe";
}

.icon-double-angle-left:before {
  content: "\f100";
}

.icon-double-angle-right:before {
  content: "\f101";
}

.icon-double-angle-up:before {
  content: "\f102";
}

.icon-double-angle-down:before {
  content: "\f103";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-angle-up:before {
  content: "\f106";
}

.icon-angle-down:before {
  content: "\f107";
}

.icon-desktop:before {
  content: "\f108";
}

.icon-laptop:before {
  content: "\f109";
}

.icon-tablet:before {
  content: "\f10a";
}

.icon-mobile-phone:before {
  content: "\f10b";
}

.icon-circle-blank:before {
  content: "\f10c";
}

.icon-quote-left:before {
  content: "\f10d";
}

.icon-quote-right:before {
  content: "\f10e";
}

.icon-spinner:before {
  content: "\f110";
}

.icon-circle:before {
  content: "\f111";
}

.icon-reply:before {
  content: "\f112";
}

.icon-github-alt:before {
  content: "\f113";
}

.icon-folder-close-alt:before {
  content: "\f114";
}

.icon-folder-open-alt:before {
  content: "\f115";
}

/* ==========================================================================
 * HTML5 display definitions
 * ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

/* ==========================================================================
 * Base
 * ========================================================================== */
html,
body {
  heght: 100%;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 87.5%/1.5em Arial, sans-serif;
}
@media (max-width: 767px) {
  body {
    margin: 0 10px;
  }
}

/* ==========================================================================
 * Links
 * ========================================================================== */
a:link, a:visited {
  color: #009bc9;
  text-decoration: none;
}

a:hover, a:active {
  color: #009bc9;
  text-decoration: underline;
  outline: 0;
}

a:focus {
  outline: thin dotted;
}

/* ==========================================================================
 * Typography
 * ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-weight: 400;
  font-family: "OpenSans" Arial, sans-serif;
}

h1 {
  font-size: 2em;
  padding: 0 0 0.5em;
  margin: 0;
}

h2 {
  font-size: 1.571em;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.429em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.286em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.143em;
  margin-bottom: 0;
  font-weight: 700;
}

h6 {
  font-size: 1em;
  margin-bottom: 0;
  font-weight: 700;
}

p {
  margin: 0 0 1em 0;
}

p.intro {
  font-size: 1.857em;
  font-family: "Droid Serif", serif;
  font-style: italic;
  line-height: 1.33em;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

label {
  font-weight: normal;
}

mark {
  background: yellow;
  color: black;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* ==========================================================================
 * Lists
 * ========================================================================== */
nav ul,
ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.menu li,
.item-list ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-image: none;
}

ul, ol {
  margin-left: 0;
  padding-left: 2em;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

/* ==========================================================================
 * Embedded content
 * ========================================================================== */
img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
 * Figures
 * ========================================================================== */
figure {
  margin: 0;
}

/* ==========================================================================
 * Forms
 * ========================================================================== */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  border: 1px solid #cccccc;
}

button,
input {
  line-height: normal;
  -webkit-appearance: none;
  outline: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: button;
  cursor: pointer;
  padding: 5px 10px;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="text"] {
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  -webkit-appearance: checkbox;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

input[type="radio"] {
  -webkit-appearance: radio;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* ==========================================================================
 * Tables
 * ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 99%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}

tr.odd {
  background-color: white;
}

/* ==========================================================================
 * Layout
 * ========================================================================== */
#header .wrapper,
#content .wrapper,
#footer .wrapper {
  margin: 0 auto;
  max-width: 940px;
  *width: 940px;
}

#main,
.no-sidebars #main {
  display: inline;
  float: left;
  width: 97.91667%;
  margin: 0 1.04167%;
}

.one-sidebar #main {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
}
@media (max-width: 767px) {
  .one-sidebar #main {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}

.one-sidebar.sidebar-first #main {
  margin-left: 34.375%;
}
@media (max-width: 767px) {
  .one-sidebar.sidebar-first #main {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}

.one-sidebar.sidebar-first #sidebar_first {
  margin-left: -98.95833%;
}
@media (max-width: 767px) {
  .one-sidebar.sidebar-first #sidebar_first {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
  }
}

.two-sidebars #main {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
  margin-left: 34.375%;
}

#sidebar_first {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

#sidebar_second {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

#footer .block {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}
@media (max-width: 767px) {
  #footer .block {
    display: inline;
    float: left;
    width: 97.91667%;
    margin: 0 1.04167%;
    margin-bottom: 20px;
  }
}

/* ==========================================================================
 * Header
 * ========================================================================== */
#header .wrapper {
  background: url("../images/header-top-bg.jpg") no-repeat 100% 100%;
  padding: 20px 0 0 0;
}
#header #logo {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
  margin-bottom: 20px;
}
#header #logo img {
  max-width: 189px;
  width: 100%;
  height: auto;
  *width: 189px;
}
#header #name-and-slogan {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}
#header #top-navigation {
  display: inline;
  float: left;
  width: 64.58333%;
  margin: 0 1.04167%;
  text-align: right;
}
#header #top-navigation ul {
  display: inline;
}
#header #top-navigation ul li {
  border-left: 1px solid black;
  margin-left: 10px;
  padding-left: 9px;
  display: inline-block;
}
#header #top-navigation ul li a {
  font-size: 12px;
  line-height: 20px;
  color: black;
}
#header #top-navigation ul.language-switcher-locale-url li.first {
  border: 0;
  padding: 0;
  margin: 0;
}
#header #top-navigation ul.language-switcher-locale-url {
  position: relative;
}
#header #top-navigation ul.language-switcher-locale-url .lang-selector {
  font-size: 12px;
  line-height: 20px;
  color: black;
  cursor: pointer;
}
#header #top-navigation ul.language-switcher-locale-url ul.submenu {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: left;
  background: #eaeaea;
  padding: 10px;
}
#header #top-navigation ul.language-switcher-locale-url ul.submenu li {
  border: 0;
  padding: 0;
  margin: 0;
}
#header #top-navigation ul.language-switcher-locale-url ul.submenu li a {
  display: block;
}
#header #top-navigation ul.language-switcher-locale-url ul.submenu.element-hidden {
  display: none;
}
#header #block-search-form {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04167%;
}

/* ==========================================================================
 * Search
 * ========================================================================== */
#search-block-form .form-text, #search-block-form .form-submit {
  height: 18px;
  line-height: 18px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  float: left;
  font-size: 0.857em;
}
#search-block-form .form-text {
  border-right: 0;
  width: 127px;
}
#search-block-form .form-submit {
  width: 50px;
}

.item-list ul ul {
  padding-left: 15px;
}

/* ==========================================================================
 * Navigation
 * ========================================================================== */
#navigation {
  background: #2666a6;
  margin-bottom: 20px;
  padding-top: 5px;
}
#navigation ul.menu {
  margin: 0 auto;
  max-width: 920px;
  *width: 920px;
  *zoom: 1;
}
#navigation ul.menu:before, #navigation ul.menu:after {
  content: " ";
  display: table;
}
#navigation ul.menu:after {
  clear: both;
}
#navigation ul.menu li {
  float: left;
  margin: 0;
  padding: 0;
}
#navigation ul.menu li a {
  display: block;
  line-height: 40px;
  padding: 0 20px;
  font-size: 16px;
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 600;
  color: white;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
#navigation ul.menu li.active-trail a, #navigation ul.menu li.active a {
  background: white;
  color: black;
}

/* ==========================================================================
 * Content
 * ========================================================================== */
article {
  margin-bottom: 20px;
}

#content {
  background: url(../images/footer-bg-new.jpg) no-repeat 50% 100%;
  padding-bottom: 400px;
}

/* Startpage */
#block-views-billboard-block {
  float: left;
  width: 460px;
  margin-right: 20px;
}

#block-views-newlist-block_1 {
  float: left;
  width: 460px;
}
#block-views-newlist-block_1 h2 {
  margin: 0 0 10px 0;
}

#block-views-teaser-block_2 {
  clear: both;
}

/* ==========================================================================
 * Blocks
 * ========================================================================== */
.block {
  margin: 0 0 20px 0;
}

.sidebar .block h2, #footer .block h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
}

.sidebar .block h2 {
  background: #2666a6;
  color: white;
  line-height: 45px;
  padding: 0 20px;
}
.sidebar .block h2 a {
  color: white;
  display: block;
}

.sidebar .block-menu-block {
  background: #f1f1f1;
  padding: 20px;
}
.sidebar .block-menu-block h2 a {
  color: #363636;
}
.sidebar .block-menu-block ul.menu {
  margin: 0;
  padding: 0;
}
.sidebar .block-menu-block ul.menu li {
  border-bottom: 1px solid white;
  list-style: none;
  padding: 0;
}
.sidebar .block-menu-block ul.menu li.last {
  border-bottom: 0;
}
.sidebar .block-menu-block ul.menu li a {
  color: #363636;
  display: block;
  padding: 0.25em 0;
  font-size: 0.857em;
}
.sidebar .block-menu-block ul.menu li a:hover, .sidebar .block-menu-block ul.menu li a.active {
  text-decoration: underline;
}

.sidebar .block-webform {
  background: #f1f1f1;
  padding: 20px;
}
.sidebar .block-webform .form-item {
  margin: 0 0 20px 0;
}
.sidebar .block-webform .form-actions {
  margin: 0;
}
.sidebar .block-webform label, .sidebar .block-webform input {
  padding: 0;
}
.sidebar .block-webform .form-text, .sidebar .block-webform .form-textarea, .sidebar .block-webform .form-submit {
  border: 1px solid #cccccc;
  font-size: 0.857em;
  outline: none;
}
.sidebar .block-webform .form-text {
  width: 168px;
  padding: 5px;
}
.sidebar .block-webform .form-submit {
  padding: 10px;
  background: #cccccc;
}
.sidebar .block-webform .form-textarea {
  resize: none;
}

.teaser {
  *zoom: 1;
}
.teaser:before, .teaser:after {
  content: " ";
  display: table;
}
.teaser:after {
  clear: both;
}
.teaser .view-content {
  margin: 0 -10px;
  *zoom: 1;
}
.teaser .view-content:before, .teaser .view-content:after {
  content: " ";
  display: table;
}
.teaser .view-content:after {
  clear: both;
}
.teaser .views-row {
  display: inline;
  float: left;
  width: 23.4375%;
  margin: 0 0.78125%;
  margin-bottom: 20px;
  vertical-align: top;
}
.teaser .views-row a {
  display: block;
}
.teaser .views-row a img {
  float: left;
  max-width: 100%;
  *width: 100%;
  height: auto;
}
.teaser .views-row h2 {
  margin: 0;
  font-size: 1.286em;
  clear: both;
}
.teaser .views-row h2 a {
  display: block;
  padding: 0.25em 0;
}
.teaser .views-row p {
  margin: 0;
}

.ie7 .teaser .views-row {
  float: none;
}

.sidebar .teaser .view-content {
  margin: 0;
}
.sidebar .teaser .views-row {
  margin: 0 0 20px 0;
}

.view-newlist .views-row {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 19px;
  margin-bottom: 20px;
}
.view-newlist .views-row.views-row-last {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.view-newlist .views-row h2, .view-newlist .views-row h3 {
  font-size: 1.286em;
  margin: 0;
}
.view-newlist .views-row .time {
  font-size: 0.714em;
}
.view-newlist .views-row .content p {
  margin: 0;
}

/* ==========================================================================
 * Fields
 * ========================================================================== */
.field-item img {
  max-width: 100%;
  height: auto;
}

/* ==========================================================================
 * Breadcrumbs
 * ========================================================================== */
#breadcrumb {
  font-size: 0.857em;
}

/* ==========================================================================
 * Footer
 * ========================================================================== */
#footer {
  background: #eef0f1;
  padding: 20px 0;
}

.about-ndla {
  font-style: italic;
}

.about-ndla .source {
  font-size: 10px;
  font-style: normal;
}

/* ==========================================================================
 * Search
 * ========================================================================== */
ol.search-results,
.search-results .search-snippet-info {
  padding: 0;
}

.btn, #ndla-search-search-form .form-submit {
  background: #2666a6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2666a6), color-stop(100%, #1c4c7d));
  background-image: -webkit-linear-gradient(#2666a6, #1c4c7d);
  background-image: -moz-linear-gradient(#2666a6, #1c4c7d);
  background-image: -o-linear-gradient(#2666a6, #1c4c7d);
  background-image: linear-gradient(#2666a6, #1c4c7d);
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  border-radius: 5px 5px;
  color: white;
  border: 0;
  margin: 0;
  padding: 11px 20px;
  font-family: "OpenSans" Arial, sans-serif;
}

.no-sidebars #ndla-search-search-form {
  border: 0;
  margin-top: 12em !important;
  border-bottom: 0px;
  border-bottom: 0 none;
  margin: 40px auto;
  max-width: 600px;
}

#ndla-search-search-form {
  margin-bottom: 10px;
  padding-bottom: 16px;
  *zoom: 1;
}
#ndla-search-search-form:before, #ndla-search-search-form:after {
  content: " ";
  display: table;
}
#ndla-search-search-form:after {
  clear: both;
}
#ndla-search-search-form .form-submit {
  display: inline;
  float: left;
  width: 14.58333%;
  margin: 0 1.04167%;
  padding: 10px 20px;
  font-size: 17px;
  float: left;
  margin: 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  #ndla-search-search-form .form-submit {
    display: inline;
    float: left;
    width: 22.91667%;
    margin: 0 1.04167%;
    margin: 0;
  }
}
#ndla-search-search-form .form-text {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04167%;
  width: 85.4%;
  font-size: 15px;
  padding: 10px 0 11px 10px;
  margin: 0;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  #ndla-search-search-form .form-text {
    display: inline;
    float: left;
    width: 72.91667%;
    margin: 0 1.04167%;
    margin: 0;
  }
}
#ndla-search-search-form .form-item-keys > label {
  display: none;
}

.js #ndla-search-search-form input.form-autocomplete {
  background: white;
}
.js #ndla-search-search-form input.form-autocomplete.throbbing {
  background: url("../images/search-spinner.gif") no-repeat 98% 50% white;
}

.search-row {
  padding-bottom: 9px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}
.search-row .row-title {
  font-size: 18px;
  font-weight: 400;
  font-family: "OpenSans" Arial, sans-serif;
}
.search-row .row-type, .search-row .row-changedat {
  font-size: 12px;
}
.search-row .search-snippet-box {
  width: auto;
  margin: 0;
  float: none;
}
.search-row .search-snippet-box .search-snippet-text {
  width: auto;
  padding: 5px 0 10px 0;
  float: none;
  display: block;
}

/* ==========================================================================
 * Misc
 * ========================================================================== */
#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

.results-count {
  color: #bbbbbb;
  font-style: italic;
  font-size: 1em;
  padding: 1em 0;
}

div.tabs {
  margin: 0 0 5px 0;
}

ul.primary, ul.secondary {
  width: 99%;
}

ul.primary {
  margin: 0;
  padding: 0 0 0 10px;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  background: url(../images/tabs/tab-bar.png) repeat-x left bottom;
}
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
ul.primary li.active a, ul.primary li.active a:hover {
  border-width: 0;
  color: black;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left 0;
}
ul.primary li.active a .tab, ul.primary li.active a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right 0;
}
ul.primary li a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0 0 0 5px;
  border-width: 0;
  font-weight: normal;
  font-size: 12px;
  text-decoration: none;
  color: #777777;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -38px;
}
ul.primary li a:hover {
  border-width: 0;
  background-color: transparent;
  background: url(../images/tabs/tab-left.png) no-repeat left -76px;
}
ul.primary li a:hover .tab {
  background: url(../images/tabs/tab-right.png) no-repeat right -76px;
}
ul.primary li a .tab {
  display: block;
  height: 20px;
  margin: 0;
  padding: 4px 13px 0 6px;
  border-width: 0;
  line-height: 20px;
  background: url(../images/tabs/tab-right.png) no-repeat right -38px;
}

ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
  background: url(../images/tabs/tab-secondary-bg.png) repeat-x left bottom;
}
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
  background: url(../images/tabs/tab-secondary.png) repeat-x left -56px;
}
ul.secondary a .active, ul.secondary a .active:hover {
  border: 1px solid silver;
  color: black;
  background: url(../images/tabs/tab-secondary.png) repeat-x left top;
}
ul.secondary a:hover {
  background: url(../images/tabs/tab-secondary.png) repeat-x left bottom;
}
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}

.floatleft {
  float: left;
  margin: 0 10px 5px 0;
}

.floatright {
  float: right;
  margin: 0 0 5px 10px;
}

#skip a:link, #skip a:hover, #skip a:visited {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
#skip a:active, #skip a:focus {
  position: static;
  width: auto;
  height: auto;
}

div.view div.views-admin-links {
  width: auto;
}

div.block {
  position: relative;
}
div.block .edit {
  display: none;
  position: absolute;
  right: -20px;
  top: -5px;
  z-index: 40;
  padding: 3px 8px 0;
  font-size: 10px;
  line-height: 16px;
  background-color: white;
  border: 1px solid #cccccc;
  /*let's get fancy! */
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: -1px 1px 2px #666666;
}
div.block .edit a {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}
div.block:hover .edit {
  display: block;
}
