
/* ==========================================================================
  HTML5 display definitions
  ========================================================================== */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary 
  display: block

audio,
canvas,
video 
  display: inline-block

audio:not([controls])
  display: none
  height: 0

[hidden]
  display: none

/* ==========================================================================
   Base
   ========================================================================== */

html, 
body
  heght: 100%

html 
  font-family: sans-serif
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body 
  margin: 0
  font: 87.5% / 1.5em Arial, sans-serif
  @include breakpoint(mobile)
    margin: 0 10px

/* ==========================================================================
   Links
   ========================================================================== */
a
  &:link, &:visited
    color: #009bc9
    text-decoration: none

a
  &:hover, &:active
    color: #009bc9
    text-decoration: underline
    outline: 0

a
  &:focus
    outline: thin dotted

/* ==========================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6
  line-height: 1.3em
  font-weight: 400
  font-family: "OpenSans" Arial,sans-serif

h1
  font-size: 2.000em
  padding: 0 0 0.5em
  margin: 0

h2
  font-size: 1.571em
  margin-bottom: 0.75em

h3
  font-size: 1.429em
  margin-bottom: 1em

h4
  font-size: 1.286em
  margin-bottom: 0.8em

h5
  font-size: 1.143em
  margin-bottom: 0
  font-weight: 700

h6
  font-size: 1em
  margin-bottom: 0
  font-weight: 700

p
  margin: 0 0 1em 0

p.intro
  font-size: 1.857em
  font-family: "Droid Serif", serif
  font-style: italic
  line-height: 1.33em

abbr
  border-bottom: 1px dotted #666666
  cursor: help
  white-space: nowrap

b,
strong
  font-weight: 700

dfn
  font-style: italic

label 
  font-weight: normal

mark
  background: #ff0
  color: #000

code,
kbd,
pre,
samp
  font-family: monospace, serif
  font-size: 1em

pre
  white-space: pre
  white-space: pre-wrap
  word-wrap: break-word

pre, code, tt
  font: 1em "andale mono", "lucida console", monospace
  line-height: 1.5

pre
  background-color: #efefef
  display: block
  padding: 5px
  margin: 5px 0
  border: 1px solid #aaaaaa

q
  quotes: "\201C" "\201D" "\2018" "\2019"

small
  font-size: 80%

sub,
sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

/* ==========================================================================
   Lists
   ========================================================================== */

nav ul,
ul.menu
  margin: 0
  padding: 0
  list-style: none

ul.menu li,
.item-list ul li
  margin: 0
  padding: 0
  list-style: none
  list-style-image: none

ul, ol
  margin-left: 0
  padding-left: 2em

ul
  list-style-type: disc
  ul
    list-style-type: circle
    ul
      list-style-type: square
      ul
        list-style-type: circle

ol
  list-style-type: decimal
  ol
    list-style-type: lower-alpha
    ol
      list-style-type: decimal

/* ==========================================================================
   Embedded content
   ========================================================================== */

img
  border: 0

svg:not(:root)
  overflow: hidden

/* ==========================================================================
   Figures
   ========================================================================== */

figure
  margin: 0

/* ==========================================================================
   Forms
   ========================================================================== */

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em


legend
  border: 0
  padding: 0

button,
input,
select,
textarea
  font-family: inherit
  font-size: 100%
  margin: 0
  border: 1px solid #ccc

button,
input 
  line-height: normal
  -webkit-appearance: none
  outline: none

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box
  -webkit-appearance: button
  cursor: pointer
  padding: 5px 10px

button[disabled],
html input[disabled]
  cursor: default

input[type="text"]
  padding: 5px

input[type="checkbox"],
input[type="radio"]
  box-sizing: border-box
  padding: 0
  -webkit-appearance: checkbox

input[type="checkbox"]
  -webkit-appearance: checkbox

input[type="radio"]
  -webkit-appearance: radio

input[type="search"] 
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box
  padding: 0

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance: none

button::-moz-focus-inner,
input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top

/* ==========================================================================
   Tables
   ========================================================================== */

table
  border-collapse: collapse
  border-spacing: 0

table
  width: 99%

tr.even,
tr.odd
  td
    padding: 10px 5px

tr.odd
  background-color: white


/* ==========================================================================
   Layout
   ========================================================================== */

#header,
#content,
#footer
  .wrapper
    margin: 0 auto
    max-width: 940px
    *width: 940px

#main,
.no-sidebars #main
  @include column(12)

.one-sidebar #main
  @include column(8)
  @include breakpoint(mobile)
    @include column(12)

.one-sidebar.sidebar-first #main
  @include push(4)
  @include breakpoint(mobile)
    @include column(12)

.one-sidebar.sidebar-first #sidebar_first
  @include pull(12)
  @include breakpoint(mobile)
    @include column(12)

.two-sidebars #main
  @include column(8)
  @include push(4)

#sidebar_first
  @include column(4)

#sidebar_second
  @include column(4)

#footer .block
  @include column(4)
  @include breakpoint(mobile)
    @include column(12)
    margin-bottom: 20px


/* ==========================================================================
   Header
   ========================================================================== */
#header
  .wrapper
    background: url('../images/header-top-bg.jpg') no-repeat 100% 100%
    padding: 20px 0 0 0
  #logo
    @include column(4)
    margin-bottom: 20px
    img
      max-width: 189px
      width: 100%
      height: auto
      *width: 189px

  #name-and-slogan // Hidden by default
    @include column(4)

  #top-navigation
    @include column(8)
    text-align: right
    ul
      display: inline
      li
        border-left: 1px solid #000
        margin-left: 10px
        padding-left: 9px
        display: inline-block
        a
          font-size: 12px
          line-height: 20px
          color: #000
      &.language-switcher-locale-url li.first
        border: 0
        padding: 0
        margin: 0

      &.language-switcher-locale-url
        position: relative
        .lang-selector
          font-size: 12px
          line-height: 20px
          color: #000
          cursor: pointer

        ul.submenu
          position: absolute
          right: 0
          top: 20px
          text-align: left
          background: #eaeaea
          padding: 10px
          li
            border: 0
            padding: 0
            margin: 0
            a
              display: block
          &.element-hidden
            display: none


  #block-search-form
    @include column(4)

/* ==========================================================================
   Search
   ========================================================================== */
#search-block-form
  .form-text, .form-submit
    height: 18px
    line-height: 18px
    padding: 5px 10px
    border: 1px solid #ccc
    float: left
    font-size: 0.857em
  .form-text 
    border-right: 0
    width: 127px
  .form-submit
    width: 50px

.item-list ul ul
  padding-left: 15px

/* ==========================================================================
   Navigation
   ========================================================================== */
#navigation
  background: $blue
  margin-bottom: 20px
  padding-top: 5px
  ul.menu
    margin: 0 auto
    max-width: 920px
    *width: 920px
    @include clearfix
    li
      float: left
      margin: 0
      padding: 0
      a
        display: block
        line-height: 40px
        padding: 0 20px
        font-size: 16px
        font-family: 'Open Sans',Arial,sans-serif
        font-weight: 600
        color: #fff
        +border-radius(5px 5px 0 0)
      &.active-trail a, &.active a
        background: #fff
        color: #000


/* ==========================================================================
   Content
   ========================================================================== */
article
  margin-bottom: 20px

#content
  background: url(../images/footer-bg-new.jpg) no-repeat 50% 100%
  padding-bottom: 400px

/* Startpage */
#block-views-billboard-block
  float: left
  width: 460px
  margin-right: 20px

#block-views-newlist-block_1
  float: left
  width: 460px
  h2
    margin: 0 0 10px 0

#block-views-teaser-block_2
  clear: both

/* ==========================================================================
   Blocks
   ========================================================================== */

.block
  margin: 0 0 20px 0

.sidebar .block, #footer .block
  h2 
    margin: 0 0 10px 0
    font-size: 18px

.sidebar .block
  h2
    background: $blue
    color: #fff
    line-height: 45px
    padding: 0 20px
    a
      color: #fff
      display: block

// Navigation, all sidebar menu blocks
.sidebar .block-menu-block
  background: #f1f1f1
  padding: 20px
  h2
    a
      color: #363636
  ul.menu
    margin: 0
    padding: 0
    li
      border-bottom: 1px solid #fff
      list-style: none
      padding: 0
      &.last
        border-bottom: 0
      a
        color: #363636
        display: block
        padding: 0.25em 0
        font-size: 0.857em
        &:hover, &.active
          text-decoration: underline
      

// Webforms, all sidebar blocks 
.sidebar .block-webform
  background: #f1f1f1
  padding: 20px
  .form-item
    margin: 0 0 20px 0
  .form-actions
    margin: 0
  label, input
    padding: 0
  .form-text, .form-textarea, .form-submit 
    border: 1px solid #ccc
    font-size: 0.857em
    outline: none
  .form-text
    width: 168px
    padding: 5px
  .form-submit
    padding: 10px
    background: #ccc
  .form-textarea
    resize: none

// Teasers globals
.teaser
  @include clearfix
  .view-content
    margin: 0 -10px
    @include clearfix
  .views-row
    @include column(4,16)
    margin-bottom: 20px
    vertical-align: top
    a 
      display: block
      img 
        float: left
        max-width: 100%
        *width: 100%
        height: auto
    h2
      margin: 0
      font-size: 1.286em
      clear: both
      a
        display: block
        padding: 0.25em 0
    p
      margin: 0

.ie7 .teaser
  .views-row
    float: none

// Teasers in sidebar
.sidebar
  .teaser
    .view-content
      margin: 0
    .views-row
      margin: 0 0 20px 0

.view-newlist
  .views-row
    border-bottom: 1px solid #eaeaea
    padding-bottom: 19px
    margin-bottom: 20px
    &.views-row-last
      border-bottom: 0
      padding-bottom: 0
      margin-bottom: 0
    h2, h3
      font-size: 1.286em
      margin: 0
    .time
      font-size: 0.714em
    .content
      p
        margin: 0

/* ==========================================================================
   Fields
   ========================================================================== */

.field-item img
  max-width: 100%
  height: auto

/* ==========================================================================
   Breadcrumbs
   ========================================================================== */
#breadcrumb
  font-size: 0.857em

/* ==========================================================================
   Footer
   ========================================================================== */

#footer
  background: #eef0f1
  padding: 20px 0

.about-ndla
  font-style: italic
  
.about-ndla .source
  font-size: 10px
  font-style: normal

/* ==========================================================================
   Search
   ========================================================================== */
ol.search-results, 
.search-results .search-snippet-info
  padding: 0

.btn, #ndla-search-search-form .form-submit
  background: $blue
  +background-image(linear-gradient($blue, darken($blue, 10%)))
  +border-radius(5px 5px)
  color: #fff
  border: 0
  margin: 0
  padding: 11px 20px
  font-family: "OpenSans" Arial,sans-serif

.no-sidebars #ndla-search-search-form
  border: 0
  margin-top: 12em !important
  border-bottom: 0px
  border-bottom: 0 none
  margin: 40px auto
  max-width: 600px

#ndla-search-search-form 
  margin-bottom: 10px
  padding-bottom: 16px
  @include clearfix
  .form-submit
    +column(2,12)
    padding: 10px 20px
    font-size: 17px
    float: left
    margin: 0
    +border-radius(0 5px 5px 0)
    +box-sizing(border-box)
    +breakpoint(mobile)
      +column(3,12)
      margin: 0
  .form-text
    +column(10,12)
    width: 85.4%
    font-size: 15px
    padding: 10px 0 11px 10px
    margin: 0
    +border-radius(5px 0 0 5px)
    +box-sizing(border-box)
    +breakpoint(mobile)
      +column(9,12)
      margin: 0
  .form-item-keys > label
    display: none

.js #ndla-search-search-form input.form-autocomplete
  background: #fff  
  &.throbbing
    background: url('../images/search-spinner.gif') no-repeat 98% 50% #fff

.search-row
  padding-bottom: 9px
  border-bottom: 1px solid $grey
  margin-bottom: 20px
  .row-title
    font-size: 18px
    font-weight: 400
    font-family: "OpenSans" Arial,sans-serif
  .row-type, .row-changedat
    font-size: 12px
  .search-snippet-box
    width: auto
    margin: 0
    float: none
    .search-snippet-text
      width: auto
      padding: 5px 0 10px 0
      float: none
      display: block

/* ==========================================================================
   Misc
   ========================================================================== */

#edit-title
  font-size: 24px
  width: 99%

#system-themes-form img
  width: 100px

.form-item .description
  font-style: italic
  line-height: 1.2em
  font-size: 0.8em
  margin-top: 5px
  color: #777777

#edit-delete
  color: #cc0000

div.messages
  padding: 9px
  margin: 1em 0
  color: #003366
  background: #bbddff
  border: 1px solid #aaccee

div.warning
  color: #884400
  background: #ffee66
  border-color: #eedd55

div.error
  color: white
  background: #ee6633
  border-color: #dd5522

div.status
  color: #336600
  background: #ccff88
  border-color: #bbee77

.results-count
  color: #bbbbbb
  font-style: italic
  font-size: 1em
  padding: 1em 0