.floatleft
  float: left
  margin: 0 10px 5px 0

.floatright
  float: right
  margin: 0 0 5px 10px

#skip a
  &:link, &:hover, &:visited
    position: absolute
    left: -10000px
    top: auto
    width: 1px
    height: 1px
    overflow: hidden
  &:active, &:focus
    position: static
    width: auto
    height: auto

div.view div.views-admin-links
  width: auto

div.block
  position: relative
  .edit
    display: none
    position: absolute
    right: -20px
    top: -5px
    z-index: 40
    padding: 3px 8px 0
    font-size: 10px
    line-height: 16px
    background-color: white
    border: 1px solid #cccccc
    /*let's get fancy!
    -moz-border-radius: 3px
    -webkit-border-radius: 3px
    -moz-box-shadow: 0 1px 3px #888888
    -webkit-box-shadow: -1px 1px 2px #666666
    a
      display: block
      border: 0
      padding: 0
      margin: 0
  &:hover .edit
    display: block
