@mixin clearfix
	&:before, 
	&:after
		content: " "
		display: table
	&:after
		clear: both
	*zoom: 1

@mixin breakpoint($point)
	@if $point == mobile_small
		@media (max-width: 320px) 
			@content
	
	@else if $point == mobile
		@media (max-width: 767px)
			@content
	
	@else if $point == mobile_wide
		@media (min-width: 480px) and (max-width: 767px) 
			@content

	@else if $point == tablet
		@media (min-width: 768px) and (max-width: 980px)  
			@content

	@else if $point == desktop_wide
		@media (min-width: 1140px)  
			@content

@mixin rounded($top: 10px, $right: 10px, $bottom: $top, $left: $right)
	border-radius: $top $right $bottom $left
	-moz-border-radius: $top $right $bottom $left
	-webkit-border-top-left-radius: $top
	-webkit-border-top-right-radius: $right
	-webkit-border-bottom-left-radius: $bottom
	-webkit-border-bottom-right-radius: $left