.site_header {
  font-weight: bold;
}

.sites .column  {
  width: 250px;
  padding: 5px;
  display: block;
  float: left;
}

.sites .column.tiny  {
  width: 80px;
}

.sites .site.odd {
  background: #eee;
}

.sites .site.even {
  background: #aaa;
}

.content .item-list ul {
	list-style: none;
}

.row-title {
	font-size: 16px;
	font-weight: bold;
}

.row-type {
	font-style: italic;
	padding-left: 10px;
}

.row-changedat {
	font-style: italic;
	padding-left: 10px;
}

.search-snippet-box .thumbnail {
	padding: 5px;
	float: left;
}

.search-snippet-text {
	width: 70%;
	float: left;
	padding: 5px;
}

.search-snippet-box {
	vertical-align: top;
	margin-bottom: 2em;
	float:left;
	width: 100%;
}

#block-ndla_search-active_search li a {
  background: url(../img/remove-field.png);
  background-repeat:no-repeat;
  padding-left: 16px;
}

#block-ndla_search-active_search li a:hover {
  background-position: 0 -16px;
  text-decoration: none;
}