.collapsible {

}

.collapsible h2 {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.collapsible h2 i {
	position: absolute;
	right: 20px;
	top: 14px;
}